.form-coverage {
  padding-top: 50px;
}

.panel {
  margin-bottom: 0px;
  border-bottom: none;
  display: inline-block;

}

.hidden {
  display: none;
}

.subscriber-section {
	width: 45%;
	float: left;
	margin-bottom: 50px;
}

.subscriber-section .panel {
	width: 100%;
}

.insurance-section, .plan-section {
	width: 50%;
	float: right;
}

.insurance-section .panel, .plan-section .panel {
	width: 100%;
}

.coverage-status-section {
	width: 40%;
	clear: left;
	float: left;
	font-size: 30px;
}

.coverage-status-section h1 {
	width: 53%;
	padding-bottom: 20px;
	border-bottom: 5px solid #eee;
}

.healthbenefitplancoverage {
  width: 100%;
  clear: both;
}

.services-div > div {
  width: 50%;
}

.services-div > div:first-child {
  float: left;
}

.services-div > div:last-child {
  float: right;
}