.form-coverage {
  padding-top: 50px;
}

.panel {
  margin-bottom: 0;
  border-bottom: none;
  clear: both;
}

.hidden {
  display: none;
}

.subscriber-section {
	width: 36%;
	float: left;
	margin-bottom: 50px;
	padding: 2%;
	background: #fafafa;
	display: inline-block;
}


.subscriber-section .panel {
	width: 100%;
	display: block;
}


.insurance-section {
	width: 62%;
	float: right;
	margin-bottom: 50px;
	display: inline-block;
}

.insurance-section .panel, .plan-section .panel {
	width: 100%;
}

.coverage-status-section {
	width: 40%;
	clear: left;
	float: left;
	font-size: 30px;
}

.coverage-status-section h1 {
	width: 53%;
	padding-bottom: 20px;
	border-bottom: 5px solid #eee;
}


.plan .panel-heading {
	display: none;
}







/* Bootstrap overrides */

.panel-default > .panel-heading {
	border: none;
}

.healthbenefitplancoverage {
  width: 100%;
  clear: both;
}

.services-div > div {
  width: 50%;
}

.services-div > div:first-child {
  float: left;
}

.services-div > div:last-child {
  float: right;

}